<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Handle Node.js requests -->
      <add name="Node.js" path="server.js" verb="*"
           modules="node" scriptProcessor="%PROGRAMFILES%\nodejs\node.exe|server.js"
           resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rewrite requests to the React app's static files -->
        <rule name="React Router" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
  <system.web>
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
